#about {
  position: relative;
  z-index: 11;
  background-image:url(/assets/images/bg-about.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -20vw;
  .about-container {
    opacity: 0;
  }
  p, h2 {
    color: $white;
  }

  .row-about {
    max-width: 860px;
    .col-photo {
      margin-bottom: 1em;
    }
  }

  @media (max-width: 1130px) {
    margin-top: -17vw;
  }

  @media (max-width: 900px) {
    margin-top: -15vw;
  }
  
  @media (max-width: 768px) {
    margin-top: -17vw;
    .row-about {
      .col-photo {
        padding-top: 25px;
      }
    }
  }

  @media (max-width: 720px) {
    margin-top: -21vw;
  }

  @media (max-width: 650px) {
    margin-top: -25vw;
    background-position: -3px 100%;
    .row-about {
      .col-photo {
        padding-top: 50px;
      }
    }
  }

  // @media (max-width: 415px) and (min-height: 900px) {
  //   margin-top: -175px;
  // }

}