#portfolio {
  background-color: $not-black;
  a:focus-visible {
    box-shadow: none;
    border: 0;
    outline-color: $green;
  }
  h2 {
    color: $white;
  }
  .row-portfolio {
    margin-bottom: 2em;
    img {
      max-width: 100%;
    }
    .col-site {
      margin-bottom: 1.5em;
    }
  }

  .row-concepts {
    .col-concept {
      margin-bottom: 2em;
    }
  }
}