#hero {
  background-image: url(/assets/images/hero-day-sky.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;


  .hgroup {
    bottom: -4vw;
    z-index: 9;
    position: relative;
    h1, h2 {
      text-shadow: 0px 1px 2px #e3e3e6;
    }
    h1 {
      color: $white;
    }
    h2 {
      color: $white;
      font-size: 2vw;
      line-height: 2.5vw;
      font-weight: 400;
      text-align: center;
      text-transform: none;
    }
  }

  .hero-day-trees,
  .hero-night-trees,
  .hero-day-mountains-foreground,
  .hero-night-mountains-foreground,
  .hero-day-mountains-midground,
  .hero-night-mountains-midground,
  .hero-day-mountains-background,
  .hero-night-mountains-background,
  .hero-night-mask,
  .hero-stars  {
    position: absolute;
    left: 0;
    width: 100vw;
  }

  .hero-sun {
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 258px;
    bottom: 33vw;
    opacity: .85;
  }

  .hero-day-trees,
  .hero-night-trees {
    z-index: 12;
    bottom: -20vw;
    width: 102vw;
  }

  .hero-night-trees {
    opacity: 0;
  }

  .hero-day-mountains-foreground,
  .hero-night-mountains-foreground {
    z-index: 9;
    bottom: 6vw;
  }

  .hero-night-mountains-foreground {
    opacity: 0;
  }

  .hero-day-mountains-midground,
  .hero-night-mountains-midground {
    z-index: 8;
    bottom: 15vw;
  }

  .hero-night-mountains-midground {
    opacity: 0;
  }

  .hero-day-mountains-background,
  .hero-night-mountains-background {
    z-index: 7;
    bottom: 18vw;
  }

  .hero-night-mountains-background {
    opacity: 0;
  }

  .hero-moon {
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 258px;
    bottom: 47vw;
    opacity: .85;
  }

  .hero-night-mask {
    z-index: 1;
    top: 0;
    bottom: 0;
    mix-blend-mode: hard-light;
    opacity: 0;
    height: 100vh;
  }

  .hero-stars {
    z-index: 2;
    bottom: 50vw;
    opacity: 0;
  }

  
  /* wide */

  



  @media (min-width: 1700px) {
    .hgroup {
      bottom: -4vw;
      h1 {
        font-size: 72px;
        line-height: 75px;
        strong {
          font-size: 120px;
          line-height: 123px;
        }
      }
      h2 {
        font-size: 37px;
        line-height: 40px;
      }
    }
    
  }


  @media (min-width: 2500px) {
    .hgroup {
      bottom: -4vw;
      h1 {
        font-size: 72px;
        line-height: 75px;
        strong {
          font-size: 115px;
          line-height: 118px;
        }
      }
      h2 {
        font-size: 37px;
        line-height: 40px;
      }
    }

    .hero-day-mountains-foreground,
    .hero-night-mountains-foreground {
      bottom: 1vw;
    }

    .hero-day-mountains-midground,
    .hero-night-mountains-midground {
      bottom: 7vw;
    }

    .hero-day-mountains-background,
    .hero-night-mountains-background {
      bottom: 10vw;
    }

    .hero-day-trees,
    .hero-night-trees {
      bottom: -23vw;
    }

    .hero-sun {
      bottom: 30vw;
    }

    .hero-moon {
      bottom: 38vw;
    }

    .hero-stars {
      bottom: 34vw;
    }
  }

  @media (min-width: 1920px) and (max-height: 1000px) {
    .hgroup {
      bottom: -2.5vw;
      h1 {
        font-size: 62px;
        line-height: 65px;
        strong {
          font-size: 110px;
          line-height: 110px;
        }
      }
      h2 {
        font-size: 27px;
        line-height: 30px;
      }
    }
    
  }


  @media (min-width: 1440px) and (max-height: 776px) {
    .hgroup {
      bottom: 3vw;
      h1 {
        font-size: 62px;
        line-height: 65px;
        strong {
          font-size: 105px;
          line-height: 108px;
        }
      }
      h2 {
        font-size: 27px;
        line-height: 30px;
      }
    }

    .hero-day-mountains-foreground,
    .hero-night-mountains-foreground {
      bottom: 1vw;
    }

    .hero-day-mountains-midground,
    .hero-night-mountains-midground {
      bottom: 7vw;
    }

    .hero-day-mountains-background,
    .hero-night-mountains-background {
      bottom: 10vw;
    }

    .hero-day-trees,
    .hero-night-trees {
      bottom: -23vw;
    }

    .hero-sun {
      bottom: 23vw;
    }

    .hero-moon {
      bottom: 38vw;
    }

    .hero-stars {
      bottom: 34vw;
    }
    
  }


  @media (min-width: 1300px) and (max-height: 776px) {
    .hgroup {
      bottom: 1vw;
      h1 {
        font-size: 62px;
        line-height: 65px;
        strong {
          font-size: 110px;
          line-height: 113px;
        }
      }
      h2 {
        font-size: 27px;
        line-height: 30px;
      }
    }
    
  }

  
  
  /* mobile start for hero below */
  @media (max-width: 900px) {
    .hero-day-trees,
    .hero-night-trees,
    .hero-day-mountains-foreground,
    .hero-night-mountains-foreground,
    .hero-day-mountains-midground,
    .hero-night-mountains-midground,
    .hero-day-mountains-background,
    .hero-night-mountains-background,
    .hero-night-mask,
    .hero-stars  {
      width: 1000px;
    }

    .hero-sun {
      width: 258px;
      bottom: 33vw;
    }

    .hero-day-trees,
    .hero-night-trees {
      bottom: -18vw;
    }

    .hero-day-mountains-foreground,
    .hero-night-mountains-foreground {
      bottom: 8vw;
    }

    .hero-day-mountains-midground,
    .hero-night-mountains-midground {
      bottom: 17vw;
    }

    .hero-day-mountains-background,
    .hero-night-mountains-background {
      bottom: 20vw;
    }

    .hero-moon {
      width: 258px;
      bottom: 55vw;
    }

    .hero-stars {
      bottom: 65vw;
    }

  }


  /* ipad air 820 */
  @media (max-width: 820px) {

    .hero-sun {
      width: 258px;
      bottom: 48vw;
    }

    .hero-day-trees,
    .hero-night-trees {
      bottom: -14vw;
    }

    .hero-day-mountains-foreground,
    .hero-night-mountains-foreground {
      bottom: 19vw;
    }

    .hero-day-mountains-midground,
    .hero-night-mountains-midground {
      bottom: 30vw;
    }

    .hero-day-mountains-background,
    .hero-night-mountains-background {
      bottom: 33vw;
    }

    .hero-moon {
      width: 258px;
      bottom: 90vw;
    }

    .hero-stars {
      bottom: 80vw;
    }

  }

  


  /* mobile */
  
  @media (max-width: 415px) {

    .hgroup {
      h1 {
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 0;
        strong {
          font-size: 50px;
          line-height: 50px;
        }
      }
      h2 {
        font-size: 28px;
        line-height: 32px;
        font-weight: 300;
      }
      .fbk {
        display: block;
      }
    }
    .hero-sun {
      width: 200px;
      bottom: 70vw;
    }

    .hero-day-trees,
    .hero-night-trees {
      bottom: -36vw;
    }

    .hero-day-mountains-foreground,
    .hero-night-mountains-foreground {
      bottom: 6vw;
    }

    .hero-day-mountains-midground,
    .hero-night-mountains-midground {
      bottom: 24vw;
    }

    .hero-day-mountains-background,
    .hero-night-mountains-background {
      bottom: 33vw;
    }

    .hero-moon {
      width: 200px;
      bottom: 140vw;
    }

    .hero-stars {
      bottom: 140vw;
    }

  }




  @media (max-width: 415px) and (max-height: 740px) {

    .hgroup {
      h1 {
        font-size: 48px;
        line-height: 48px;
        strong {
          font-size: 50px;
          line-height: 50px;
        }
      }
      h2 {
        font-size: 28px;
        line-height: 32px;
        font-weight: 300;
      }
    }
    .hero-sun {
      bottom: 50vw;
    }

    .hero-day-trees,
    .hero-night-trees {
      bottom: -46vw;
    }

    .hero-day-mountains-foreground,
    .hero-night-mountains-foreground {
      bottom: -4vw;
    }

    .hero-day-mountains-midground,
    .hero-night-mountains-midground {
      bottom: 14vw;
    }

    .hero-day-mountains-background,
    .hero-night-mountains-background {
      bottom: 20vw;
    }

    .hero-moon {
      bottom: 110vw;
    }

    .hero-stars {
      bottom: 120vw;
    }

  }

  @media (max-width: 375px) {

    .hgroup {
      h1 {
        font-size: 44px;
        line-height: 44px;
        strong {
          font-size: 46px;
          line-height: 46px;
        }
      }
      h2 {
        font-size: 22px;
        line-height: 26px;
        font-weight: 300;
      }
    }

    .hero-sun {
      bottom: 48vw;
    }

    .hero-moon {
      bottom: 122vw;
    }

  }


// instagram specific issue
  @media (max-width: 375px) and (min-height: 600px) {
    .hero-sun {
      bottom: 44vw;
    }

    .hero-day-trees,
    .hero-night-trees {
      bottom: -56vw;
    }

    .hero-day-mountains-foreground,
    .hero-night-mountains-foreground {
      bottom: -8vw;
    }

    .hero-day-mountains-midground,
    .hero-night-mountains-midground {
      bottom: 8vw;
    }

    .hero-day-mountains-background,
    .hero-night-mountains-background {
      bottom: 12vw;
    }

    .hero-moon {
      bottom: 110vw;
    }

    .hero-stars {
      bottom: 110vw;
    }
    
  }


  //iphone 11 pro
  @media (max-width: 375px) and (min-height: 812px) {
    .hero-sun {
      bottom: 72vw;
    }
  }

}