.form-control {
  border-radius: 0;
  border-color: $blue-gray;
  padding: 0.7rem 0.75rem;
  &:focus {
    box-shadow: 0 0 0 0.25rem rgb(88 226 139 / 25%);
    border-color: $green;
  }
}

.form-label {

}

.form-text {
  font-size: 0.75em;
}

.btn-submit {
  background-color: $green;
  color: $dark-gray;
  border: 0;
  border-radius: 30px;
  width: 150px;
  padding: 10px 15px;
  text-transform: uppercase;
  transition: all .3s ease;
  &:hover {
    background-color: $not-black;
    color: $green;
  }
}