.with-line {
  &:after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin-top: 5px;
    background-color: $green;
  }
}

.with-line-full {
  &:after {
    content: "";
    width: 100%;
    height: 3px;
    display: block;
    margin-top: 5px;
    background-color: $green;
  }
}

h1, h2 {
  text-transform: uppercase;
}

h1 {
  font-family: 'Raleway', sans-serif;
  // font-size: 74px;
  // line-height: 88px;
  font-size: 6vw;
  line-height: 6.5vw;
  font-weight: 300;
  text-align: center;
  color: $white;
  strong {
    // font-size: 120px;
    font-size: 8vw;
    font-weight: 900;
    display: block;
  }
 
}

h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

h2, .like-h2 {
  font-size: 52px;
  font-weight: 300;
}

h3, .like-h3 {
  font-size: 24px;
  font-weight: 700;
}

h4, .like-h4 {
  font-size: 18px;
  line-height: 22px;
}

ul {
  line-height: 32px;
}

strong {
  font-weight: 700;
}

@media (max-width: 415px) {
  h2:not(.hero h2) {
    font-size: 35px;
  }
}

@media (min-width: 1920px) {
  p, ul {
    font-size: 25px;
    line-height: 38px;
  }
  h3 {
    font-size: 26px;
    line-height: 38px;
  }
}