
$container-max-widths: (
  sm: 540px,
  md: 768px,
  lg: 992px,
  xl: 1140px,
  xxl: 1320px
); 

@import "~bootstrap/scss/bootstrap";

@import "variables";
@import "fonts";

@import "typography";
@import "layout";
@import "forms";

@import "partials/header";
@import "partials/footer";
@import "partials/modals";

@import "accordion";

@import "sections/hero";
@import "sections/about";
@import "sections/resume";
@import "sections/portfolio";
@import "sections/skills";
@import "sections/contact";