footer {
  padding: 0 0 40px 0;
  p {
    text-align: center;
    font-size: 12px;
    &.copy {
      margin-bottom: 0;
    }
  }

  // a {
  //   color: $purple-blue;
  //   text-decoration: none;
  //   transition: all .3s ease;
  //   &:hover {
  //     color: $blue-gray;
  //   }
  // }

  #btn-top {
    border: 0;
    background: transparent;
    #chevron-up {
      width: 25px;
      height: 25px;
      fill: $green;
    }
    &:focus, &:focus-visible {
      outline: 2px solid $green;
      box-shadow: 0 0 0 0.25rem rgb(88 226 139 / 25%);
      border-color: $green;
    }
  }


  .footer-row {
    display: flex;
    justify-content: center;
    align-items: center;
    .copy-col {
      margin-left: auto;
    }
    .top-col {
      margin-left: auto;
    }
  }

  @media (min-width: $break-wide) {
    
    p {
      font-size: 16px;
      line-height: 20px;
      &.copy {
        margin-bottom: 8px;
      }
    }
  }
}